//Abstratc
@import "utils/mixin";
@import "typo/font";

//base
@import "base/base";
@import "base/reset";


//section
@import "section/home";
@import "section/about";
@import "section/contact";
@import "section/product";
@import "section/products";
@import "section/legal";
@import "section/aboutPage";
@import "section/productCategory";
@import "section/etude";
@import "section/partners";





//layout
@import "layout/header";
@import "layout/footer";

//component
@import "components/btn";
@import "components/switch";
@import "components/card";
@import "components/caroussel";
@import "components/table";
@import "components/activityIndicator";
@import "components/energyClass";
@import "components/formulaire";




//class-utils
@import "class-utils/padding";
@import "class-utils/title";
@import "class-utils/font-inter";
@import "class-utils/text-primary";


