.contact {
    h1 {
        width: 100%;
        @include media (small){
          text-align: center;
      }
      @include media (medium){
        text-align: left;
    }
      @include media (largeXl){
        margin: auto;
        width: 83%;
    }
      }
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4.8rem;
    justify-content: center;
    @include media(medium) {
        flex-direction: row;
        justify-content: flex-start;
      }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 4.1rem;
    @include media(medium) {
        width: 45%;
        margin: 0;
      }

    form {
      display: flex;
      flex-direction: column;
      gap: 3.4rem;
      justify-content: center;
      align-items: center;
      background-color: var(--title-secondary-color);
      padding: 1.6rem 1.1rem;
      border-radius: 0.6rem;
      @include media(small) {
        width: 70%;
        margin: auto;
      }
      @include media(medium) {
        width: 100%;
      }
      @include media(largeXl) {
        width: 49.1rem;
      }
      button {
        width: 15.7rem;
        height: 4.5rem;
        flex: 1;
      }
    }

    &Input {
        width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      font-size: 2rem;
      font-family: "Inter";
      font-weight: 400;
      input,
      textarea {
        border-radius: 0.3rem;
        width: 29.4rem;
        height: 3.5rem;
        border: none;
        padding: 0.6rem 1.1rem;
          width: 100%;
        ::placeholder {
          font-family: "Inter";
        }
      }
      textarea {
        height: 10.7rem;
      }
    }
  }
  &__info {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    color: var(--txt-color);
    @include media (small){
        width: 70%;
       margin: auto;
       align-items: center;
    }
    @include media(medium) {
        margin: initial;
        width: initial;
       align-items: flex-start;
       gap: 3rem;
      }
    @include media(large) {
       justify-content: flex-start;
       align-items: flex-start;
      }
    &Item {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      font-family: "Inter";
    }
  }
}
