.partners {
  background-color: var(--bkg-primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    text-align: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: flex-start;
    align-items: center;

    @include media(small) {
      flex-direction: row;
      max-width: 75%;
    }
  }
  &__card {
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: contain;
    }
  }
}
