.legal{
    h1{
        font-size: 2.8rem;
        font-family: "Inter";
        font-weight: bold;
        color: var(--txt-color);
        @include media (large){
margin-bottom: 3.6rem;
        }

    }
    h2{
        font-size: 2.4rem;
    }
   &__content{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    &Info{
        line-height: 1.5;
    }
   }
   &__partner{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    &Img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.6rem;
        @include media (small){
            flex-direction: row;
            justify-content: flex-start;
        }
    }
   }
}
