:root {
  --bkg-primary-color: #ffffff;
  --bkg-secondary-color: #f2f7f5;

  --txt-primary-color: #475d5b;

  --links-primary-color: #fa5246;

  font-size: 62.5%;
  line-height: 1.5;

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: bold;
    @include media(medium) {
      font-size: 3.6rem;
    }
  }

  p {
    font-size: 1.8rem;
    @include media(medium) {
      font-size: 2.4rem;
    }
  }
}

.max-w {
  max-width: 1920px;
  margin: auto;
}
