:root {
  --bkg-primary-color: #ffffff;
  --bkg-secondary-color: #f2f7f5;

  --txt-primary-color: #475d5b;

  --links-primary-color: #fa5246;

  font-size: 62.5%;
  a {
    text-decoration: none;
  }
}

.max-w {
  max-width: 1920px;
  margin: auto;
}
