.header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--bkg-primary-color);


  &__content {
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    color: var(--txt-primary-color);

    @include media(medium) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
    }
  }

  a {
    color: var(--txt-primary-color);
  }

  &__burger {
    margin-left: auto;
    filter: invert(44%) sepia(46%) saturate(3487%) hue-rotate(334deg)
      brightness(102%) contrast(103%);
    @include media(medium) {
      display: none;
    }
  }

  &__nav,
  &__list,
  &Small__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
  }
  &__nav,
  &__list,
  &Small__list {
    display: none;
  }

  &__nav,
  &__list,
  &__btn {
    @include media(medium) {
      display: flex;
    }
  }
  &__services {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    flex-direction: column;
    @include media (medium){
      flex-direction: row;
    }


    &:hover {
      color: #5081B8;
      transition: all 0.3s;
    }
    img{
     filter: var(--list-icon-color);
    }
  }

  &__nav,
  &__list {
    @include media(medium) {
      flex-direction: row;
    }
  }
  &__nav {
    gap: 4.2rem;
    animation: showNav 1s;
    &-open {
      display: flex;
    }
    @include media(landscape) {
      height: calc(100vh - 7rem);
      padding-bottom: 3rem;
      overflow-y: scroll;
    }

    @include media(medium) {
      @include media(landscape) {
        background-color: transparent;
        height: auto;
        overflow-y: initial;
        padding-bottom: 0;
      }
    }
  }
  @keyframes showNav {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__btn {
    display: none !important;
    margin: auto;
    @include media(medium) {
      display: flex !important;
      margin: 0;
    }
  }
  &__list {
    &-open {
      display: flex;
    }
    .header__btn{
      display: flex !important;
      @include media (medium){
        display: none !important;
      }
    }
  }
  &Small__list {
      display: none;
      animation: smallListOpen;
      animation-duration: 0.3s;
      margin-top: 3.6rem;
      gap: 2.1rem;
     
      @include media(medium) {
        position: absolute;
        flex-direction: column;
        background-color: var(--bkg-primary-color);
        padding: 4.6rem 2.4rem;
        top: 2.3rem;
        left: -4.2rem;
        margin-top: 0;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        box-shadow: 0px 2px 0px 0px rgb(0 0 0 / 25%);
        width: 17.1rem;
        min-height: 22.4rem;
        animation: smallListOpen;
        animation-duration: 0.3s;
    }
  }
  &__serviceBtn {
    @include media(medium) {
      position: relative;
    }
  }
}
@keyframes smallListOpen {
  0% {
    height: 30px;
    top: 20px;
    opacity: 0;
  }
  100% {
    height: 22.4rem;
    top: 4rem;
    opacity: 1;
  }
}
.serviceBlock{
   overflow: hidden; 

  .headerSmall__list{
    display: none;
  } 
 
  &:hover{
   overflow: visible;


   .headerSmall__list{
     display: flex;
  } 
  }
}
