.activityIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-height: calc(100vh - 45.7rem);

  &__svg {
    font-size: 10rem;
    animation: rotate 0.5s infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
