.btn {
    padding: 1.2rem 1.1rem;
    background: var(--links-primary-color);
    border-radius: 7px;
    color: var(--links-txt-primary-color) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: "RobotoSlab", sans-serif;
    font-weight: 500;
    min-width: 8.4rem;
    min-height: 5.4rem;
    font-size: 2rem;
    transition: all 0.3s;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    border: 0.1rem solid transparent;
    &:hover{
      background-color: var(--bkg-primary-color);
      border: 0.1rem solid #5081B8 ;
      color: #5081B8 !important;

    }
  }
