.btn {
    padding: 1.2rem 1.1rem;
    background: #fa5246;
    border-radius: 7px;
    color: var(--bkg-primary-color) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: "Inter";
    font-weight: 500;
    min-width: 8.4rem;
    font-size: 2rem;
  }
