.card {
  width: 32.7rem;
  min-height: 44.7rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bkg-primary-color);
  margin: auto;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18);
  transition: all .5s;
  &:hover{
    transform: scale(1.05);
    transition: all .5s;
  box-shadow: 0px 1px 4px var(--links-primary-color);


  }
  @include media(small) {
    width: 37.7rem;
  }
  @include media(medium) {
  }
  @include media(large) {
    width: 35.7rem;
  }
  &-txtColor{
    text-decoration: none;
    color: var(--txt-primary-color);
    &:hover{
      color: var(--txt-primary-color) !important;
    }
  }
  &__content {
    background-color: var(--bkg-secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.9rem;
    height: 100%;
    img {
      border-radius: 0.5rem;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18);
      object-fit: contain;
      background-color: white;
    }
    h2 {
      font-size: 2.2rem;
      height: 4.8rem;
    }

    p {
      height: 6.4rem;
      font-size: 1.8rem;
    }
  }
  button {
    padding: 1.2rem 1.1rem;
    color: #cf4826;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    line-height: 0.1;
    border-bottom: 0.1rem solid;
    font-family: "Inter";
    font-weight: 500;
    min-width: 8.4rem;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
  a {
    font-size: 2rem;
    &:hover {
      text-decoration: underline;
    }
  }
  &-activityIndicator {
    position: absolute;
    min-height: 24.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .activityIndicator {
      min-height: 100%;
      &__svg {
        font-size: 10rem;
      }
    }
  }
}
