.product{
 display: flex;
 flex-direction: column;
 h1{
    font-size: 2rem;
    text-align: center;
 }
 p{
    margin-bottom: 3.5rem;
 }
}
.caroussel{
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.18));
    @include media (large){
        margin-bottom: 12.5rem;
    }
}

