.classe-energetique{
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    font-family: "RobotoSlab";
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    color: #fff !important;
    &-A{
        background-color:#3ca358;
    }
    &-B{
        background-color: #7db654;
    }
    &-C{
        background-color: #c5d349;
    }
    &-D{
        background-color: #ffef35;
    }
    &-E{
        background-color: #edb437;
    }
    &-F{
        background-color: #d56b2f;
    }
    &-G{
        background-color: #ca152c;
    }
}
