.rgpd {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 100;
  background-color: var(--bkg-rgpd-color);
  &Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    padding: 1.1rem 0 !important;
    @include media(medium) {
      flex-direction: row;
    }

    &__txt {
      font-family: "openSans";
      font-weight: 500;
      font-size: 1.6rem;
      margin: 0;
      color: var(--bkg-primary-color) !important;
    }
    &__btn {
      display: flex;
      flex-direction: row;
      gap: 1.7rem;
      button{
        width: 14.4rem;
        height: 3.6rem;
      }
    }
  }
}
