:root {
  --bkg-primary-color: #ffffff;
  --bkg-secondary-color: #f2f7f5;
  --txt-primary-color: #475d5b;
  --title-secondary-color: #078080;
  --links-primary-color: #fa5246;

  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 14rem;

  a {
    text-decoration: none;
    &:hover{
      color: var(--links-primary-color);
      transition: all 0.3s;
    }
  }

  a,
  button {
    cursor: pointer;
  }

  p {
    font-size: 1.8rem;
    font-family: "Inter";
    font-weight: 400;
    color: var(--txt-primary-color);
    @include media(medium) {
      font-size: 2.4rem;
    }
  }
}

.max-w {
  max-width: 1920px;
  margin: auto;
}
